
/*------------- MODULOS ----------------------*/


div.contMod{
	height: 100%;width: 940px;
	display: table;padding: 0px 30px 20px;
}

div#conListado{width: 60%;}
div#conRegistro{width: 40%; position: relative;}


div#conListado, div#conRegistro{ /*border: 1px solid #0e7c3e;*/
	display: table-cell;vertical-align: top;}

div#conListado {position: relative;}
div#conListado>div#iListado{overflow-y: auto;margin: 0;border: 1px solid #dddddd;}
div#conListado>div#iListado{position: absolute;right: 0;left: 0;bottom: 0;top: 30px;}
div#conListado .barra{padding: 5px;background-color: #34a463;}

/*div#conRegistro>div {height: 100px;}*/

.iElemList{
	border-bottom: 1px solid #dddddd;
	padding: 5px;cursor:pointer;
}

.iElemList:hover{
	background:#dfdfdf;
}



/*------------- MODULO EQUIPO ----------------------*/


.iListTable{display:table; width: 100%;border-collapse: collapse;}
.iList{	border-bottom: 1px solid #dddddd;cursor:pointer;display:table-row;}

.iSel{background:#f5e6da;}

.iList:hover{background:#FFE3CD;}

.iList .colList{display:table-cell;padding: 5px 0 5px 7px;white-space: nowrap;}
.iList .iequ_tipo{font-size: 0.9em; margin-right: 4px;font-weight: bold;color:#999999;}
.iList .iequ_marca, .iList .iequ_model {font-family: "Verdana"; font-size: 0.75em; color:#999999;}
.iList .iequ_id{font-size: 1em; display:block;font-weight: bold;color:#0e7c3e;}
.iList .iprest{color:#999999;font-size: 0.8em;}
.iList .fechadev{color:#ee7620;}

div#conRegistro>div{margin-left: 15px;position: relative;}

div#conRegistro div#Sec{padding: 8px;font-size: 0.8em; color: #0e7c3e;background:#e0e0e0;
border-radius: 7px 7px 7px 7px;
-moz-border-radius: 7px 7px 7px 7px;
-webkit-border-radius: 7px 7px 7px 7px;}
div#conRegistro div#Sec #bdispon{font-size: 1em;}
div#conRegistro div#Sec .DatnPres{font-style: italic;}
div#conRegistro div#Sec .DatnPres select{border:none;}
div#conRegistro div#Sec .DatnPres input{border:none;background:#FFE3CD;padding: 2px 4px;}
div#conRegistro div#Sec .DatnPres input#pre_usr_id{width: 175px;}
div#conRegistro div#Sec .usrPrest{font-style: italic;font-weight: bold;font-size: 1em;}


.btn{display:inline-block; padding: 5px 10px;cursor: pointer;background-color:#0e7c3e;color: #ffffff;
	border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;}

#bdispon {cursor:pointer;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;display: block;max-width: 325px;}

.DatnPres{display:table;margin-top: 5px;}
div#SecPrest{ }
div#SecPrest .b_despl, div#SecDispon .b_despl {font-size: 0.6em;vertical-align: middle;position: absolute;right:10px;top:10px;}
div#SecPrest .rDatnPres{padding: 2px 0;display:table-row;}
div#SecPrest .rDatnPres span{padding: 2px 0;display:table-cell;}
div#SecPrest .rDatnPres span.cText{text-align:right;padding-right: 5px}
div#contPrest {padding-top: 7px;}
div#contPrest input{border:none;background:#FFE3CD;padding: 2px 4px;}

div#conRegistro #vMenu{text-align:right;font-size: 0.8em;}
div#conRegistro #vMenu span{cursor:pointer;display:inline-block;padding: 3px;}
div#conRegistro #vMenu span:hover{background:#FFE3CD;}
div#conRegistro .iniDats{border-bottom: 1px solid #dddddd;}
.iniDats .Datsprinc{font-size: 0.9em;}

div#conRegistro #contentReg{height: 100%;position: absolute;right: 0;left: 0;bottom: 0;}

#equ_tipo {width: 100%;font-size: 1em !important;border: 1px solid #dedede;padding: 0px 1px;}
div#conRegistro .tipoElem{font-size: 1.4em; font-weight: bold;color:#0e7c3e;}
/*div#conRegistro select.tipoElem{font-size: 1em;padding: 0;display: block;border: 1px solid #dddddd;}*/
div#conRegistro #tipNuevo{display: block; padding: 7px; background: #f5e6da; text-align: center;
	font-size: 0.6em; font-weight: normal; font-style: italic;color: #ee7620; }

#iSerial{font-style: italic;color:#bbbbbb;}
#iIdEqu{color:#0e7c3e;font-size: 1.15em;}

div#conRegistro #secPrest.iDat.e{display: none;}
div#conRegistro ·tipoElem .iDat.v>input{display: none;}
div#conRegistro .tipoElem .iDat.v>.UIselect{display: none;}
div#conRegistro .tipoElem .iDat.e>input{display: initial;}
div#conRegistro .tipoElem .iDat.e>.UIselect{display: initial;}

div#conRegistro .tipoElem .iDat.v>span{display: initial;}
div#conRegistro .tipoElem .iDat.e>span{display: none;}

div#conRegistro .nDatos{padding-bottom: 7px;}
div#conRegistro .nDatos .iDat.v .vpDats{display: initial;font-size: 0.95em;}
div#conRegistro .nDatos .iDat.v .epDats{display: none;}
div#conRegistro .nDatos .iDat.e .epDats{display: initial;}
div#conRegistro .nDatos .iDat.e .vpDats{display: none;}

#SecInfEqu2{position: absolute;overflow-y: auto;bottom: 0;top: 130px;right: 0; left: 0;}

.epDats{display:table;}
.epDats .irDat{display:table-row;}
.epDats .irDat>span{display:table-cell;}
div#conRegistro .epDats .irDat .tDat{text-align:right;font-size: 0.9em;padding: 3px;font-style: italic;}
div#conRegistro input.ieDat {font-size: 0,95em;padding: 1px 5px;display: block;border: 1px solid #e1e1e1;}
/*div#conRegistro input.inAtrEq{text-align: right;width: 110px;margin-right: -5px; background-color:#dedede; font-weight: bold; }
*/
div#conRegistro input.inAtrEq{padding: 1px 3px;border: 1px solid #e1e1e1;max-width: 120px;text-align: right;}
div#conRegistro input.iAtrEq{background: #f5e6da;border: 1px solid #ffd4a8;padding: 1px 4px;}

#contListAtrb{padding: 5px 0;}
#contListAtrb .tit{font-size: 0.8em;font-style: italic;color:#bbbbbb;}
div#conRegistro .ListAtrib{display:table;margin: 10px 10px; width: 100%}


.ListAtrib .iAtr{display:table-row;}
.ListAtrib .iAtr .tAtr, .ListAtrib .iAtr .vAtr {font-size: 0.9em;display:table-cell;padding:3px 2px 5px;position: relative;}
.ListAtrib .iAtr .tAtr{text-align: right;padding-right: 5px;font-weight: bold;}

div#conRegistro .iDat.v #lAtrV{display: initial;}
div#conRegistro .iDat.v #lAtrE{display: none;}
div#conRegistro .iDat.e #lAtrE{display: initial;}
div#conRegistro .iDat.e #lAtrV{display: none;}

#listObs.v{display: initial;}
#listObs.e{display: none;}
.iObs{font-family: "Verdana"; background: #E3E3E3;border-bottom: 1px solid #dddddd;margin-bottom: 5px;padding: 7px;font-size: 0.95em;}
.iObs .iFechObs{font-size: 0.65em;color: #aaaaaa;border-bottom: 1px solid #d7d7d7;margin-bottom: 3px;position: relative; height: 11px;}
.iObs .iContObs{max-height: 100px;font-size: 0.85em;overflow-y: auto;color: #666666;}

#listObs #addObs{padding-bottom: 10px;}
#contPrest textarea, #listObs textarea{
	min-width: 100%; display:block;
	font-family: Arial;max-width: 350px;border: 1px solid #0e7c3e;
}