
.iElemList>span{margin-right: 4px;}
.iElemList .nomUsr{font-size: 1.3em; font-weight: bold;}
.iElemList .nproceso{font-size: 0.8em; font-style: italic; color:#aaaaaa;}
div#conRegistro>div{padding:5px 10px;}
div#conRegistro #vMenu{text-align:right;font-size: 0.8em;margin:3px 5px 7px;}
div#conRegistro #vMenu span{cursor:pointer;}

.nombreUsr {font-size: 1.3em; font-weight: bold;}

.nombreUsr input{font-size: 1em;padding: 1px 5px;border: 1px solid #dddddd;width: 47%;}
.nDatos input{font-size: 0,95em;padding: 1px 5px;display: block;border: 1px solid #dddddd;}

div#conRegistro .nombreUsr{padding-bottom: 7px;border-bottom: 1px solid #dddddd;}
div#conRegistro .nDatos{padding: 7px 0;}

div#conRegistro .nombreUsr .iDat.v>div{display: none;}
div#conRegistro .nombreUsr .iDat.e span{display: none;}
div#conRegistro .nombreUsr .iDat.v span{display: initial;}
div#conRegistro .nombreUsr .iDat.e div{display: initial;}
div#conRegistro .nombreUsr .iDat.e select{display: initial;}

div#conRegistro .nDatos .iDat.v .vpDats{display: initial;}
div#conRegistro .nDatos .iDat.v .epDats{display: none;}
div#conRegistro .nDatos .iDat.e .epDats{display: initial;}
div#conRegistro .nDatos .iDat.e .vpDats{display: none;}

.epDats{display:table;}
.epDats .irDat{display:table-row;}
.epDats .irDat>span{display:table-cell;}
.epDats .irDat select{max-width: 270px !important;}
div#conRegistro .epDats .irDat .tDat{text-align:right;font-size: 0.9em;padding: 3px;}


